<div id="<%= dom_id device %>">
  <p>
    <strong>Name:</strong>
    <%= device.name %>
  </p>

  <p>
    <strong>Make:</strong>
    <%= device.make %>
  </p>

  <p>
    <strong>Mode:</strong>
    <%= device.mode %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= device.color %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= device.size %>
  </p>

</div>
