  <table class="table table table-bordered table table-striped table-hover table table-striped table-hover">
  <thead class='table-dark'>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Make</th>
      <th scope="col">Model</th>
      <th scope="col">Color</th>
      <th scope="col">Size</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
  <div id="devices">
  <% @devices.each do |device| %>
    <tr>
      <td><%= device.name %></td>
      <td><%= device.make %></td>
      <td><%= device.mode %></td>
      <td><%= device.color %></td>
      <td><%= device.size %></td>
      <td><%= link_to 'show', device %></td>
      <td><%= link_to 'edit', edit_device_path(device) %></td>
    </tr>
    
  </tbody>
  <% end %>
</table>

<%= link_to "New", new_device_path, class: 'btn btn-secondary' %>

</div>

